# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numbers ate immutable data types equivalent to literals in C Programming. Note that numbers comprise of integers and floating points as well. That is the reason, '2' == 2 shall return False, but 2.0 == 2 shall return True, because both 2 and 2.0 represent the same numeric value.

Strings: Strings are ordered and immutable data types and are enclosed within quotes when assigned to a variable. Since they are ordered, individual string elements can be accesed by their indexes.

Lists: Lists are ordered and mutable data types, they can be sliced and diced and elements in a list are indexed. Lists can contain numbers, strings, lists, tuples, dictionaries, etc. within them as elements. Lists are enclosed within square brackets.

Tuples: Tuples are ordered and immutable data types. They are similar to lists, except for the difference that tuples are immutable, meaning we cannot modify individual elements once the tuple is created. Since tuples are ordered, they can be sliced and diced. Tuples are enclosed within parentheses.

Dictionaries: Dictionaries are unordered and mutable data types enclosed within curly braces. Dictionaries contain key value pairs as their elements. Elements in a dictionary can be accesed by their keys, and since they are unordered, dictionaries cannot be sliced and diced.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
10*1000/10**2 + 0.5 - 0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
4 + 6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?

Answer: float

In [6]:
type(3+4+1.5)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:

In [47]:
9**0.5

3.0

In [ ]:
# Square:

In [12]:
3**2

9

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [13]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [25]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [21]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [23]:
# Method 1:
[0, 0, 0]

[0, 0, 0]

In [44]:
# Method 2:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [26]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'

In [27]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [28]:
list4 = [5,3,4,6,1]

list4.sort()

In [29]:
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [30]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [31]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [33]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [34]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?

We cannot sort a dictionary because lements in a dictionary are not ordered, and where there is no order, there is no question of sorting. Also, normally dictionaries are mappings not sequence.

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are immutable i.e. elements cannot be modified, whereas lists are mutable i.e. the elements in the list can be modified.

How do you create a tuple?<br><br>

By enclosing various comma separated elements within parentheses, and assigning the tuple to a tuple variable

## Sets

What is unique about a set?

A set contains only unique elements

Use a set to find the unique values of the list below:

In [35]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [36]:
# Answer before running cell
2 > 3

False

In [37]:
# Answer before running cell
3 <= 2

False

In [38]:
# Answer before running cell
3 == 2.0

False

In [39]:
# Answer before running cell
3.0 == 3

True

In [40]:
# Answer before running cell
4**0.5 != 2

False

In [41]:
4**0.5

2.0

In [42]:
2.0 == 2

True

Final Question: What is the boolean output of the cell block below?

In [43]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!